/* Importando a fonte personalizada do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    color: white;
}

header p {
    font-size: 24px;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    align-items: center;
    padding: 25px 20px;
}

.content {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-image img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-details {
    max-width: 600px;
}

.game-details h2 {
    margin-top: 0;
}

.game-details p {
    font-size: 16px;
    margin: 10px 0;
}

/* Estilos para o menu responsivo */
.menu {
    background-color: #333;
    width: 25%;
    border-radius: 15px;
    margin-bottom: 15px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #333;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .menu ul {
        flex-direction: column; /* Faz os itens ficarem em coluna em telas menores */
    }

    .menu li {
        text-align: center;
        margin: 10px 0;
    }

    .content {
        flex-direction: column; /* Ajusta o conteúdo para coluna em telas menores */
        align-items: center;
    }
}
