<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../cssView/rdr2.css">
    <title>Detalhes do Jogo</title>
</head>
<body>
    <header>
        <p><b>Jogos piratas ponto com</b></p>
    </header>
    <main>
        <div class="content">
            <div class="game-image">
                <img src="../img/Hpl5MtwQgOVF9vJqlfui6SDB5Jl4oBSq.jpeg" alt="Imagem do Jogo">
            </div>
            <div class="game-details">
                <h2>Read Dead Redemption 2</h2>
                <p><strong>Ano:</strong> 2018</p>
                <p><strong>Empresa:</strong> Rockstar Games</p>
                <p><strong>Especificações do Download:</strong> 150 GB</p>
                <p><strong>Versão do arquivo</strong>
                <p><strong>Versão Download:</strong> Build.1436.28 by EMPRESS+Mr_Goldberg</p>
                    <button><a href="../game/RedDeadRedemption2.torrent">Click Aqui!!</a></button>
                <p><strong>Resenha:</strong><a href="https://www.adrenaline.com.br/analise/outros/analise-red-dead-redemption-2/">O bom RDR 2 é incrível, não tem como negar. Até quem não gosta do gênero de jogos em mundo aberto ou faroeste vai reconhecer o trabalho técnico impressionante por trás desse jogo. Temos um mapa imenso, com um cenário belíssimo, tanto no aspecto de direção de arte como na qualidade gráfica, recheado de atividades das mais variadas</a>
                                </div>
        </div>
    </main>
</body>
</html>
